# For Database realed services
MONGODB_URL=""
DOMAIN=''
DOMAIN="https://auth-app-plum-ten.vercel.app/"

# For mailing relatyed services
MAILER_PORT=2525 # or any other port
MAILER_HOST=""
MAILER_USER=""
MAILER_PASS=""

# Secret Token 
TOKEN_SECRET=""